.App {
  background-color: #f4fdfb;
}

.button{
  background: #ef553e;
  border: none;
  padding: 10px 40px;
  font-size: 15px;
  position: relative;
  z-index: 1;
  color: #fff;
}

.button::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background: #111;
  transition: .3s;
  opacity: 0;
}

.button:hover::after{
  width: 100%;
  opacity: 1;
}

.animation{
 transform: scale(1);
}

.animation:hover{
 transform: scale(1.1);
}

